body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background 0.3s linear;
}
body.background {
  background: black;
}
label {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  transition: color 0.3s linear, background-color 0.3s linear;
}
.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transition: transform 0.3s linear;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + label {
  background: white;
  color: black;
}
.checkbox:checked + label .circle {
  background: chartreuse;
  transform: translateX(25px);
}
